---
layout: blog
---

<section class="relative w-full bg-white">
    <div class="relative w-full px-5 py-2 mx-auto max-w-7xl">

        <h1 class="mb-1 text-4xl font-extrabold leading-none text-gray-900"><a href="#_">{{title}}</h1>
        <p class="text-2xl font-light text-gray-400 text-center">
            Pronađite, odaberite, pripremite, ovaj put bez panike.
        </p>

    </div>
</section>

<section class="relative w-full bg-white">
    <div class="relative w-full mx-auto max-w-7xl">

        <div class="flex h-full">

            <div class="">
                {% set postslist = collections.post %}

                {% for post in postslist | reverse %}
                <div class="flex flex-col mt-5 mb-5 items-start overflow-hidden shadow-lg transition duration-500 ease-in-out transform hover:-translate-y-5 hover:shadow-2xl rounded-lg">
                    <a href="#_" class="block">
                        <img class="block w-full transition duration-300 ease-in-out transform bg-center bg-cover hover:scale-110" src="https://cdn.devdojo.com/images/may2021/workstation.jpg">
                    </a>
                    <div class="relative flex flex-col items-start px-6 bg-white py-7 text-center items-center">
                        <h2 class="font-bold text-3xl text-gray-900 mb-2">
                            <a href="{{ post.url | url }}">
                                {% if post.data.title %}
                                    {{ post.data.title }}
                                {% else %}
                                    Untitled
                                {% endif %}
                            </a>
                        </h2>
                        {% if post.data.description %}
                        <p class="text-lg text-gray-500 mb-3">{{ post.data.description }}</p>
                        {% endif %}
                        <p>
                            <a href="{{ post.url | url }}" class="inline-flex text-indigo-500">
                                Čitaj dalje →
                            </a>
                        </p>
                        <div class="py-3">
                            {% for tag in post.data.tags | filterTagList %}
                            {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                            <a href="{{ tagUrl | url }}" class="post-tag bg-indigo-400 items-center px-3 mt-1 mb-1 py-1 w-auto rounded-full text-xs font-medium uppercase text-white inline-block">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </div>
</section>