<section class="bg-red-600 flex items-center justify-center px-20 py-20 mx-auto" x-data="beer()" x-init="start()">
    <div class="text-red-100">
        <h1 class="text-3xl text-center mb-3 font-extralight">Vrijeme brzo prolazi, a Božić dolazi!</h1>
        <h2 class="text-2xl text-center mb-3 font-extralight">Pripremite poklone na vrijeme uz najbolje ideje.</h2>
        <div class="text-6xl text-center flex w-full items-center justify-center">
            <div class="mx-1 p-2 bg-white text-red-500 rounded-lg">
                <div class="font-mono leading-none" x-text="days">00</div>
                <div class="font-mono uppercase text-sm leading-none">Dana</div>
            </div>
            <div class="mx-1 p-2 bg-white text-red-500 rounded-lg">
                <div class="font-mono leading-none" x-text="hours">00</div>
                <div class="font-mono uppercase text-sm leading-none">Sati</div>
            </div>
            <div class="mx-1 p-2 bg-white text-red-500 rounded-lg">
                <div class="font-mono leading-none" x-text="minutes">00</div>
                <div class="font-mono uppercase text-sm leading-none">Minuta</div>
            </div>
            <div class="mx-1 p-2 bg-white text-red-500 rounded-lg">
                <div class="font-mono leading-none" x-text="seconds">00</div>
                <div class="font-mono uppercase text-sm leading-none">Sekundi</div>
            </div>
        </div>
        <p class="text-l text-center mt-3">*<a href="https://twitter.com/10DowningStreet/status/1363897254340419587" class="underline hover:text-red-200" target="_blank">Klik ovdje i razgledajte poklone</a>*</p>
    </div>
</section>

<script>
function beer() {
    return {
        seconds: '00',
        minutes: '00',
        hours: '00',
        days: '00',
        distance: 0,
        countdown: null,
        beerTime: new Date('December 25, 2021 00:00:00').getTime(),
        now: new Date().getTime(),
        start: function() {
            this.countdown = setInterval(() => {
                // Calculate time
                this.now = new Date().getTime();
                this.distance = this.beerTime - this.now;
                // Set Times
                this.days = this.padNum( Math.floor(this.distance / (1000*60*60*24)) );
                this.hours = this.padNum( Math.floor((this.distance % (1000*60*60*24)) / (1000*60*60)) );
                this.minutes = this.padNum( Math.floor((this.distance % (1000*60*60)) / (1000*60)) );
                this.seconds = this.padNum( Math.floor((this.distance % (1000*60)) / 1000) );
                // Stop
                if (this.distance < 0) {
                    clearInterval(this.countdown);
                    this.days = '00';
                    this.hours = '00';
                    this.minutes = '00';
                    this.seconds = '00';
                }
            },100);
        },
        padNum: function(num) {
            var zero = '';
            for (var i = 0; i < 2; i++) {
                zero += '0';
            }
            return (zero + num).slice(-2);
        }
    }
}
</script>

<section class="relative w-full bg-white">
  <div class="relative w-full px-5 py-2 mt-20 mb-20 mx-auto max-w-7xl">

    <h2 class="mb-1 text-3xl font-extrabold leading-tight text-gray-900 text-center">Odaberi vrstu poklona</h2>
    <p class="mb-5 text-lg text-gray-500 text-center">Odaberi vrstu poklona kojeg tražiš. Za sve prigode najbolje ideje.</p>

    <div class="text-center">
      <button class="m-1 p-2 pl-5 pr-5 bg-red-500 hover:bg-green-400 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300">
        <a href="/pokloni">
          <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
            Svi pokloni
          </h2>
        </a>
      </button>
      {% for tagItem in collections.pokloniTagList %}
        <button class="m-1 p-2 pl-5 pr-5 bg-red-500 hover:bg-green-400 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300">
          <a href="/tags/{{ tagItem | slug }}">
            <h2 class="text-3xl leading-9 font-bold tracking-tight text-white sm:text-4xl sm:leading-10">
              {{ tagItem }}
            </h2>
          </a>
        </button>
      {% endfor %}
    </div>

  </div>
</section>


