<div x-data="scrollProgress()" x-init="init()" x-cloak class="w-full fixed z-20 top-0 flex flex-col md:flex-row">
    <div class="h-1 bg-white" :style="`width: ${percent}%`"></div>
</div>

<div class="flex flex-col sm:flex-row items-center justify-between flex-wrap fixed w-full z-10 top-0 shadow-md bg-red-600">
    <div x-data="{ open: false }" class="w-full flex flex-col p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8 shadow-sd">
        <div class="flex flex-row items-center justify-between lg:justify-start">
            <a href="/" class="text-lg font-bold tracking-tighter text-white transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8 uppercase">
                Pokloniranje
            </a>
            <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8">
                    <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" style="display: none;"></path>
                </svg>
            </button>
        </div>
        <nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow md:flex md:justify-end md:flex-row hidden">
            {% if navigation.items %}
            <ul class="space-y-2 list-none lg:space-y-0 lg:items-center lg:inline-flex md:space-y-0 md:items-center md:inline-flex">
                {% for item in navigation.items %}
                <li class="border-b-2 border-transparent hover:border-white">
                    <a href="{{ item.url }}" class="px-2 lg:px-6 lg:py-6 md:py-6 py-2 text-sm leading-[22px] md:px-3 text-white hover:text-grey-400">
                        {{ item.text }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </nav>
    </div>
</div>


<script>
    const scrollProgress = () => {
    return {
        init() {
        window.addEventListener('scroll', () => {
            let winScroll = document.body.scrollTop || document.documentElement.scrollTop
            let height = document.documentElement.scrollHeight - document.documentElement.clientHeight
            this.percent = Math.round((winScroll / height) * 100)
        })
        },
        circumference: 30 * 2 * Math.PI,
        percent: 0,
    }
    }
</script>